html,
body,
#root,
#root>div {
  height: 100%;
  width: 100%;
}

.App {
  box-sizing: border-box;
  padding: 2rem;
}

.map-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.map-container .header {
  flex: 1;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header h6 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header div {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.map-container .content {
  flex: 15;
  display: flex;
}

.map-container .content table {
  width: 100%;
  height: 100%;
}

.map-container .content table tbody tr {
  display: flex;
  flex-direction: row;
}

table tbody tr .left {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

table tbody tr .middle {
  flex: 7;
  display: flex;
  width: 100%;
}

table tbody tr .middle td {
  width: 1.5%;
  margin: .1rem;
  border-radius: 1rem;
}

table tbody tr .middle td:nth-child(-n+15) {
  background-color: rgb(16, 117, 16);
}

table tbody tr .middle td:nth-child(n+35) {
  background-color: rgb(126, 23, 23);
}

table tbody tr .middle td {
  background-color: rgb(134, 134, 34);
}

table tbody tr .middle .rest {
  filter: blur(10px);
}

table tbody tr .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes move {

  0% {}

  33.3% {
    margin-left: 800px;
    margin-top: 50px;
  }

  66.6% {
    margin-left: 500px;
    margin-top: 300px;
  }

  100% {
    margin-left: 200px;
    margin-top: 50px;
  }
}
